.scene {
    -webkit-perspective: 800px;
            perspective: 800px;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-pack: center;
            justify-content: center;
    height: 150%;
    width: 150%;
    margin-top: 35%;
    margin-left: 10%;
    
 
   
  }

  .scene:hover {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }

  .scene:hover .side {
    opacity: 1;
  }

  .cube {
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    position: relative;
    width: 300px;
    height: 300px;
    -webkit-animation: rotate 19s ease-in-out infinite;
            animation: rotate 19s ease-in-out infinite;
    -webkit-transform-origin: center center;
            transform-origin: center center;
  }

  .side {
    position: absolute;
    width: 300px;
    height: 300px;
    background-color:rgb(255, 216, 252)
    opacity: .95;
      box-shadow: 15px 20px 15px rgb(255, 216, 252);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .back {
    -webkit-transform: translateZ(-150px) rotateX(180deg);
            transform: translateZ(-150px) rotateX(180deg);
    background-image: url('http://www.shangri-la.com/uploadedImages/section_bg_weddings.jpg');
  }
  
  
  .left {
    -webkit-transform: translateX(-150px) rotateY(90deg);
            transform: translateX(-150px) rotateY(90deg);
    background-image: url('http://www.shangri-la.com/uploadedImages/Shangri-la_Hotels/Shangri-la_Hotels,_Makati/SLM-Bg-Weddings-Celebrations-Quezon-Ballroom.jpg');
  }
  .right {
    -webkit-transform: translateX(150px) rotateY(90deg);
            transform: translateX(150px) rotateY(90deg);
    background-image: url('http://www.shangri-la.com/uploadedImages/Shangri-La_Resorts/Shangri-La/SLBO-Bg-Weddings-Celebrations-Sagana-Ballroom.jpg');
  }
  .top {
    -webkit-transform: translateY(-150px) rotateX(90deg);
            transform: translateY(-150px) rotateX(90deg);
    background-image: url('http://www.shangri-la.com/uploadedImages/Shangri-la_Hotels/Kowloon_Shangri-La,_Hong_Kong/2019%20KSL-Bg-Weddings-Celebrations-Harbour-Room.jpg');
  }
  .bottom {
    -webkit-transform: translateY(150px) rotateX(270deg);
            transform: translateY(150px) rotateX(270deg);
    background-image: url('http://www.shangri-la.com/uploadedImages/Shangri-la_Hotels/Shangri-La_Hotel,_Fuzhou/SLFZ-Bg-Weddings-Celebrations-Longyan-Room.jpg');
  }
  .front {
    -webkit-transform: translateZ(150px);
            transform: translateZ(150px);
    background-image: url('https://cdn0.weddingwire.com/vendor/805200/3_2/960/jpg/1538094640-fc1c0e173eeaf099-1529356403-f9ad0545be8cff72-1529356401-4e74b34b8ac2c700-152935.jpeg');
  }

  @-webkit-keyframes rotate {
    0% {
      -webkit-transform: rotateX(0);
              transform: rotateX(0);
    }
    12.5% {
      -webkit-transform: rotateY(90deg);
              transform: rotateY(90deg);
    }
    25% {
      -webkit-transform: rotateY(270deg);
              transform: rotateY(270deg);
    }
    37.5% {
      -webkit-transform: rotateY(270deg);
              transform: rotateY(270deg);
    }
    50% {
      -webkit-transform: rotateY(360deg);
              transform: rotateY(360deg);
    }
    62.5% {
      -webkit-transform: rotateX(90deg);
              transform: rotateX(90deg);
    }
    75% {
      -webkit-transform: rotateX(180deg);
              transform: rotateX(180deg);
    }
    87.5% {
      -webkit-transform: rotateX(270deg);
              transform: rotateX(270deg);
    }
    100% {
      -webkit-transform: rotateX(360deg);
              transform: rotateX(360deg);
    }
  }
  @keyframes rotate {
    0% {
      -webkit-transform: rotateX(0);
              transform: rotateX(0);
    }
    12.5% {
      -webkit-transform: rotateY(90deg);
              transform: rotateY(90deg);
    }
    25% {
      -webkit-transform: rotateY(270deg);
              transform: rotateY(270deg);
    }
    37.5% {
      -webkit-transform: rotateY(270deg);
              transform: rotateY(270deg);
    }
    50% {
      -webkit-transform: rotateY(360deg);
              transform: rotateY(360deg);
    }
    62.5% {
      -webkit-transform: rotateX(90deg);
              transform: rotateX(90deg);
    }
    75% {
      -webkit-transform: rotateX(180deg);
              transform: rotateX(180deg);
    }
    87.5% {
      -webkit-transform: rotateX(270deg);
              transform: rotateX(270deg);
    }
    100% {
      -webkit-transform: rotateX(360deg);
              transform: rotateX(360deg);
    }
  }
